body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: min(calc(100vw / 128), calc(100vh / 96));
}

#field {
	position: relative;
	overflow: hidden;
	width: 128em;
	height: 96em;
	margin: 0;
	padding: 0;
	background: url("Images/Field.png");
	background-size: cover;
	image-rendering: pixelated;
}

.rabbit {
	position: absolute;
	image-rendering: pixelated;
	width: 16em;
	height: 16em;
}

.rabbit.right {
	transform: scaleX(-1);
}